
main-teensy/.pio/build/project.checksum
main-teensy/.pio/build/project.checksum
main-teensy/.pio/build/teensy35/idedata.json
main-teensy/.vscode/c_cpp_properties.json
main-teensy/.vscode/launch.json
workspace.code-workspace
